.searchContainer {
    display: flex;
    justify-content: center;
  }
  .searchBox {
    position: relative;
  }
  .searchInput {
    height: 30px;
    border-radius: 10px;
    padding: 5px 30px 5px 10px;
    font-size: 1.1rem;
  }
  .searchButton {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    height: 100%;
    border: none;
    background: none;
  }
  
  .searchInput:focus{
      outline: none;
      border: 1px solid #f88ec2;
      box-shadow: 0 0 5px #ebbed4;
  }